html {
  margin: 0;
  padding: 0;
  border: 0px;
}
body {
  display: flex;
  /*Cambiar esto si no cuadran las letras*/
  min-width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0 !important;
}

#main-container {
  margin: 0;
  padding: 0;
  min-width: 200mm;
  max-width: 200mm;
}
/* Basic button styling */
#scrollTopBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #555; /* Dark background */
  color: white; /* Text color */
  cursor: pointer; /* Add a pointer cursor on hover */
  padding: 5px; /* Some padding */
  border-radius: 15px; /* Rounded corners */
  font-size: 35px; /* Increase font size */
  opacity: 0; /* Invisible initially */
  transform: translateY(50px); /* Slightly move down initially */
  visibility: hidden; /* Make sure it's hidden from tab navigation */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth animations */
}

/* Button hover effect */
#scrollTopBtn:hover {
  background-color: #333; /* Darker background on hover */
}

/* Button appears (visible) */
#scrollTopBtn.show {
  opacity: 1;
  transform: translateY(0); /* Move to its normal position */
  visibility: visible; /* Make it focusable */
}

/* Button disappears (invisible) */
#scrollTopBtn.hide {
  opacity: 0;
  transform: translateY(50px); /* Move down slightly before disappearing */
  visibility: hidden; /* Hide it visually */
}

@media only screen and (max-width: 865px) {
  #main-container {
    transform: scale(0.75);
    position: relative;
    top: -50px
  }
}
/* Mobile */
@media only screen and (max-width: 600px) {
  #main-container {
    transform: scale(0.4);
    position: relative;
    top: -300px;
  }
  img {
    zoom:0.95 !important
  }
}
@media (prefers-color-scheme:dark){
  html {
    filter: invert(1)
  }
  img {
    filter: invert(1)
  }
}