
  html, body {
      scroll-snap-type: none;
      white-space: nowrap;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      overflow-y: hidden;
      width: auto;
  
      height: 100%;
  }
  
  iframe {
    /*DIN A4 Cambiar esto si no es así*/
      display: block;
      min-width: 223mm;
      min-height: 100%;
      overflow-x: hidden;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      border: none;
  }
  /* Styles for the "Top" button */
  
  @media only screen and (max-width: 768px) {
  /* AQUI PARA CAMBIAR EL ZOOM DE LA PÁGINA*/
    iframe {
      zoom: 0.5
    }
  }
  @media only screen and (min-width: 768px) {
      html, body {
          display: flex;
          justify-content: center;
      }
  }
  @media (prefers-color-scheme: dark) {
      html {
          filter: invert(0)
      }
  }
  